body {
  padding: 2em;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

.solver .word {
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
  
  .letter {
    float: left;
    text-align: center;
    margin-right: 0.25em;
    input {
      width: 2em;
      text-align: center;
    }
    input[disabled] {
      color: #9c9;
      background: #fff;
      
    }
    span {
      display: block;
    }
    .punct {
      position: relative;
      top: 0.25em;
    }
  }
}

.word:before,
.word:after {
    content: " ";
    display: table;
}

.word:after {
    clear: both;
}

.letf {
  width: 2em;
  text-align: center;
  text-transform: uppercase;
}

.reset-row {
  padding-top: 1em;
  border-top: 1px solid #ccc;
  margin-top: 1em;
}
